
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

@keyframes right {
    from {
        transform: translate(-100%)    ;
        -webkit-transform: translate(-100%)    ;
        -moz-transform: translate(-100%)    ;
        -ms-transform: translate(-100%)    ;
        -o-transform: translate(-100%)    ;
    }

    to {
        transform: translate(0)    ;
        -webkit-transform: translate(0)    ;
        -moz-transform: translate(0)    ;
        -ms-transform: translate(0)    ;
        -o-transform: translate(0)    ;
    }
}

.animate-right {
    animation-name: right;
    animation-duration: 300ms;
}